---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
---

<Layout title="Lead2Cash - Business Process Optimization">
  <Header />
  <main>
    <Hero />
    <Services />
  </main>
</Layout>

<style>
  main {
    width: 100%;
  }
</style>