---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Results from '../components/Results.astro';
---

<Layout title="Results - Lead2Cash">
  <Header />
  <main>
    <Results />
  </main>
</Layout>