---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Team from '../components/Team.astro';
---

<Layout title="Our Team - Lead2Cash">
  <Header />
  <main>
    <Team />
  </main>
</Layout>